#wrapper{
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
}

header{
	height: 150px;
}

section{
	width: 820px;
	height: 550px;
	float: left;
}

aside{
	width: 480px;
	height: 550px;
	float: right;
}

#testfeld {
	width: 30em;
	height: 26em;
	padding: 1em;
	border: 1px solid;
	background-color: #8FBCFF;
}

#testfeld div {
	height: 20em;
	overflow: hidden;
}

button {
	margin: 1em 0;
}

button:not(:hover) + #testfeld mark {
	background-color: transparent;
	color: inherit;
}
