#wrapper{
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
}

header{
	height: 150px;
}

section{
	width: 820px;
	height: 550px;
	float: left;
}

aside{
	width: 480px;
	height: 550px;
	float: right;
}